/* App.css */
.app {
    display: flex;
    height: 100vh; /* Ocupar a altura total da tela */
    overflow: hidden; /* Para evitar scroll horizontal */
  }
  
  .content {
    flex: 1; /* O conteúdo ocupará o restante do espaço */
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura */
    padding: 20px;
  }
  